
#maindiv{
    margin-top: 10px;
    display: flex;
    width: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin-left: 20px;
    border-bottom: red;
} #imgh{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -6px;
  }

body{
    background-color: black;
    color: rgba(241, 231, 231, 0.756);
    font-family: Arial, Helvetica, sans-serif;
}
#d1{
    flex: 1;
    margin-left: 50px;
    color: rgb(206, 38, 12);
}
#d2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-left: 100px;
    margin-right: 50px;
}
#a{
    color:white;
    display: flex;
    text-align: left;
    width: 1;
    justify-content: space-between;
    cursor: pointer;
}
#a:hover{
    color: rgb(206, 38, 12);
    text-decoration: underline;
}

#a {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: hsl(240, 62%, 4%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    text-decoration: none;
  }
  
  #a::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: red;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
    text-decoration: none;
    border-radius: 8px;
  }
  
  #a:hover {
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }
  
  #a:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
    border-radius: 8px;
  }
  #edu{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 2px rgb(230, 84, 11), 0 0 2px rgb(241, 93, 7), 0 0 5px rgb(236, 83, 18), 0 0 5px rgb(233, 74, 6);
    background-color: black; 
}

#par{
    position: relative;
    display: flex;
    top: 70px;
    height: 500px;
    border-radius: 5%;
    background-color: transparent;
    margin-bottom: 150px;
}

#par{
    background-color: black;
    box-shadow: 0 0 10px rgb(249, 5, 5), 0 0 10px rgb(253, 8, 8), 0 0 10px rgb(242, 6, 6), 0 0 10px rgb(236, 3, 3);
    border: 2px solid rgb(248, 73, 15);
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    width: 80%;
  }
  

#par{
    display: flex;
    flex-direction: column;
}
#sch{
    position: relative;
    border-color: black;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
#clg{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: relative;
    height: 50%;
    width: 100%;
}
#sch1{
    display: flex;
    background-color: transparent;
    width: 100%;
}
#sch2{
    display: flex;
    background-color: transparent;
    width: 100%;
}
#clg1{
    display: flex;
    background-color: transparent;
    width: 100%;
}#clg2{
    display: flex;
    background-color: transparent;
    width: 100%;
}

#par1{
    position: relative;
    display: flex;
    top: 200px;
    height: 500px;
    border-radius: 5%;
    background-color: transparent;
    margin-bottom: 150px;
}

#par1{
    background-color: black;
    box-shadow: 0 0 10px rgb(249, 5, 5), 0 0 10px rgb(253, 8, 8), 0 0 10px rgb(242, 6, 6), 0 0 10px rgb(236, 3, 3);
    border: 2px solid rgb(248, 73, 15); 
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    color: white; 
    font-size: 1.5em;
    width: 80%;
  }
  

#par1{
    display: flex;
    flex-direction: column;
}
#sch11{
    position: relative;
    border-color: black;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
#clg1{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    height: 50%;
    width: 100%;
}
#sch1o{
    display: flex;
    background-color: transparent;
    width: 100%;
}
#sch2o{
    display: flex;
    background-color: transparent;
    width: 100%;
}
#clg1o{
    display: flex;
    background-color: transparent;
    width: 100%;
}#clg2o{
    display: flex;
    background-color: transparent;
    width: 100%;
}